<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Početna</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>
        <div id="admin-app">
            <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a href="index.html" class="navbar-brand">Ovde treba ime sajta</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="index.html" class="nav-link">Početna</a></li>
                        <!--li class="nav-item"><a href="#" class="nav-link">Apartmani</a></li-->
                        <li class="nav-item"><a href="#" class="nav-link">Moj profil</a></li>
                        <!--
                        <li v-if="this.uloga === 'ADMINISTRATOR'" class="nav-item"><a href="registration.html" class="nav-link">Dodaj domaćina</a></li>
                        <li v-else-if="this.uloga === 'DOMACIN'" class="nav-item"><a href="#" class="nav-link">Moji apartmani</a></li>
                        <li v-else-if="this.uloga === 'GOST'" class="nav-item"><a href="#" class="nav-link">Moje rezervacije</a></li>
                        -->
                        <li class="nav-item"><a href="registration.html" class="nav-link">Dodaj domaćina</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>
            
            <div class="container">
                <h2>Pregled svih korisnika</h2>

                <div class="row">
                    <div class="col">
                        <p>Pretraga po korisničkom imenu:</p>
                        <input v-on:keyup="filter()" v-model:value="pretraga_kor_ime" class="form-control" type="text"/>
                        <br/>
                    </div>
            
                    <div class="col">
                        <p>Pretraga po ulozi:</p>
                        <select v-model:value="pretraga_uloga" class="form-control" @change="filter()">
                            <option disabled hidden value="">Pretraga po ulozi</option>
                            <option value="5" selected>Sve uloge</option>
                            <option value="0">Administrator</option>
                            <option value="1">Domaćin</option>
                            <option value="2">Gost</option>
                        </select>
                        <br/>
                    </div>

                    <div class="col">
                        <p>Pretraga po polu:</p>
                        <select v-model:value="pretraga_pol" class="form-control" @change="filter()">
                            <option disabled hidden value="">Pretraga po polu</option>
                            <option value="5" selected>Svi polovi</option>
                            <option value="0">Muško</option>
                            <option value="1">Žensko</option>
                            <option value="2">Ostalo</option>
                        </select>
                        <br/>
                    </div>
                </div>
                
                <table class="table table-hover">
                    <!--thead class="table-dark"--><!--Ovo sam morao da izbacim jer ukoliko ostane hover radi i na <th> elemente sto ne izgleda lepo-->
                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Korisničko ime</th>
                            <th>Uloga</th>
                            <th>Pol</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="korisnik in korisnici">
                            <td>{{ korisnik.ime }}</td>
                            <td>{{ korisnik.prezime }}</td>
                            <td>{{ korisnik.korisnickoIme }}</td>
                            <td>{{ korisnik.uloga == 0 ? 'Administrator' : (korisnik.uloga == 1 ? 'Domaćin' : 'Gost') }}</td>
                            <td>{{ korisnik.pol == 0 ? 'Muško' : (korisnik.pol == 1 ? 'Žensko' : 'Ostalo') }}</td>
                            <td v-if="korisnik.status === '0'"><button v-on:click="promeniStatus(korisnik)">Blokiraj</button></td>
                            <td v-else-if="korisnik.status === '1'"><button v-on:click="promeniStatus(korisnik)">Aktiviraj</button></td>
                            <td v-else></td>
                            <td><button v-if="korisnik.uloga != 0" v-on:click="obrisiKorisnika(korisnik)">Obriši korisnika</button></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Pregled svih aktivnih apartmana</h2>
                <table class="table table-hover" id="aktivni_apartmani">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Slika</th>
                            <th>Tip</th>
                            <th>Domaćin</th>
                            <th>Broj soba</th>
                            <th>Broj gostiju</th>
                            <th>Adresa</th>
                            <th>Cena po noći</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="apartman in aktivni_apartmani">
                            <td>{{ apartman.id }}</td>
                            <!--<td><img src="" alt="slike/no_apartment.png" width="100" height="100"/></td>-->
                            <td><img src="" alt="Nema slike" onerror="this.onerror=null;this.src='slike/no_apartment.png';"/></td>
                            <td>{{ apartman.tip == 0 ? 'Apartman' : 'Soba' }}</td>
                            <td>{{ apartman.korisnickoImeDomacina }}</td>
                            <td>{{ apartman.brojSoba }}</td>
                            <td>{{ apartman.brojGostiju }}</td>
                            <td style="white-space:pre-wrap;">{{ prikaziAdresu(apartman) }}</td>
                            <td>{{ apartman.cenaPoNoci.toFixed(2) }} RSD</td>
                            <td><button v-on:click="obrisiApartman(apartman)">Obriši apartman</button></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Pregled svih neaktivnih apartmana</h2>
                <table class="table table-hover" id="neaktivni_apartmani">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Slika</th>
                            <th>Tip</th>
                            <th>Domaćin</th>
                            <th>Broj soba</th>
                            <th>Broj gostiju</th>
                            <th>Adresa</th>
                            <th>Cena po noći</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="apartman in neaktivni_apartmani">
                            <td>{{ apartman.id }}</td>
                            <!--<td><img src="" alt="slike/no_apartment.png" width="100" height="100"/></td>-->
                            <td><img src="" alt="Nema slike" onerror="this.onerror=null;this.src='slike/no_apartment.png';"/></td>
                            <td>{{ apartman.tip == 0 ? 'Apartman' : 'Soba' }}</td>
                            <td>{{ apartman.korisnickoImeDomacina }}</td>
                            <td>{{ apartman.brojSoba }}</td>
                            <td>{{ apartman.brojGostiju }}</td>
                            <td style="white-space:pre-wrap;">{{ prikaziAdresu(apartman) }}</td>
                            <td>{{ apartman.cenaPoNoci.toFixed(2) }}</td>
                            <td><button v-on:click="obrisiApartman(apartman)">Obriši apartman</button></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Pregled svih rezervacija</h2>
                <p class="text-center reserv-msg" ref="poruka">Poruka:<br/></p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Apartmana</th>
                            <th>Početni datum</th>
                            <th>Broj noćenja</th>
                            <th>Cena</th>
                            <th>Gost</th>
                            <th>Status rezervacije</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="rezervacija in rezervacije">
                            <td>{{ rezervacija.apartmanId }}</td>
                            <td>{{ rezervacija.pocetniDatum }}</td>
                            <td>{{ rezervacija.brojNocenja }}</td>
                            <td>{{ rezervacija.cena.toFixed(2) }}</td>  <!-- toFixed(2) zaokruzuje broj na 2 decimale -->
                            <td>{{ rezervacija.korisnickoImeGosta }}</td>
                            <td>{{ prikaziStatus(rezervacija.status) }}</td>
                            <td><input type="image" src="slike/msg_bubble.png" width="48" height="48" v-on:click.prevent="prikaziPoruku(rezervacija.poruka)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="./js/vue.js"></script>
        <script src="./js/axios.js"></script>
        <script src="./js/admin_page.js"></script>
    </body>
</html>
