<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Početna</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>
        <div id="domacin-app">
            <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a href="#" class="navbar-brand">Ovde treba ime sajta</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link">Početna</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Moj profil</a></li>
                        <li class="nav-item"><a href="dodaj_apartman.html" class="nav-link">Dodavanje apartmana</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Pregled gostiju</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>
            <br/><br/><br/>

            <div class="container">
                <h2>Aktivni apartmani</h2>
                <table class="table table-hover" id="aktivni_apartmani">
                    <thead>
                        <tr>
                            <th>Slika</th>
                            <th>Tip</th>
                            <th>Broj soba</th>
                            <th>Broj gostiju</th>
                            <th>Adresa</th>
                            <th>Cena po noći</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="apartman in aktivni_apartmani">
                            <td><img src="" alt="Nema slike" onerror="this.onerror=null;this.src='slike/no_apartment.png';"/></td>
                            <td>{{ apartman.tip == 0 ? 'Apartman' : 'Soba' }}</td>
                            <td>{{ apartman.brojSoba }}</td>
                            <td>{{ apartman.brojGostiju }}</td>
                            <td style="white-space:pre-wrap;">{{ prikaziAdresu(apartman) }}</td>
                            <td>{{ apartman.cenaPoNoci.toFixed(2) }} &euro;</td>
                            <td><input type="image" title="Izmeni" src="slike/edit.png" width="48" height="48" v-on:click.prevent="izmeniApartman(apartman)"></td>
                            <td><input type="image" title="Obriši" src="slike/delete.png" width="48" height="48" v-on:click="obrisiApartman(apartman)"></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Neaktivni apartmani</h2>
                <table class="table table-hover" id="neaktivni_apartmani">
                    <thead>
                        <th>Slika</th>
                        <th>Tip</th>
                        <th>Broj soba</th>
                        <th>Broj gostiju</th>
                        <th>Adresa</th>
                        <th>Cena po noći</th>
                        <th></th>
                        <th></th>
                    </thead>

                    <tbody>
                        <tr v-for="apartman in neaktivni_apartmani">
                            <td><img src="" alt="Nema slike" onerror="this.onerror=null;this.src='slike/no_apartment.png';"/></td>
                            <td>{{ apartman.tip == 0 ? 'Apartman' : 'Soba' }}</td>
                            <td>{{ apartman.brojSoba }}</td>
                            <td>{{ apartman.brojGostiju }}</td>
                            <td style="white-space:pre-wrap;">{{ prikaziAdresu(apartman) }}</td>
                            <td>{{ apartman.cenaPoNoci.toFixed(2) }} &euro;</td>
                            <td><input type="image" title="Izmeni" src="slike/edit.png" width="48" height="48" v-on:click.prevent="izmeniApartman(apartman)"></td>
                            <td><input type="image" title="Obriši" src="slike/delete.png" width="48" height="48" v-on:click="obrisiApartman(apartman)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="./js/vue.js"></script>
        <script src="./js/axios.js"></script>
        <script src="./js/domacin_page.js"></script>
    </body>
</html>
