<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Izmena apartmana</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
        <style>
            div.row {
                margin: 2em;
            }

            label   {
                text-align: center;
            }

            div.podatak {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="izmena-apartmana-app">
            <nav v-if="uloga() === 'DOMACIN'" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a href="domacin_page.html" class="navbar-brand">Ovde treba ime sajta</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="domacin_page.html" class="nav-link">Početna</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Moj profil</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Pregled gostiju</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>

            <nav v-else-if="uloga() === 'ADMINISTRATOR'" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a href="admin_page.html" class="navbar-brand">Ovde treba ime sajta</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="admin_page.html" class="nav-link">Početna</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Moj profil</a></li>
                        <li class="nav-item"><a href="registration.html" class="nav-link">Dodaj domaćina</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>

            <br/><br/><br/>

            <div class="container">

                <h3>Osnovne informacije</h3>

                <div class="row">
                    <div class="col-4">
                        <label>Tip:</label>
                    </div>
                    <div class="col-8 podatak">
                        <select v-model="apartman.tip">
                            <option value="0">Apartman</option>
                            <option value="1">Soba</option>
                        </select>
                    </div>
                </div>

                <div class="row" v-if="apartman.tip == '0'">
                    <div class="col-4">
                        <label>Broj soba:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.brojSoba" ref="broj_soba" min="1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Broj gostiju:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.brojGostiju" ref="broj_gostiju" min="1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Cena po noći:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.cenaPoNoci" ref="cena_po_noci" min="1" step="0.01" /> &euro;
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Vreme za prijavu:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.vremeZaPrijavu" ref="vreme_za_prijavu" min="0" max="23" /> h
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Vreme za odjavu:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.vremeZaOdjavu" ref="vreme_za_odjavu" min="0" max="23" /> h
                    </div>
                </div>

                <div class="row" v-if="uloga() === 'ADMINISTRATOR'">
                    <div class="col-4">
                        <button v-if="apartman.status == 1" v-on:click="promeniStatus()">Aktiviraj</button>
                        <button v-else v-on:click="promeniStatus()">Deaktiviraj</button>
                    </div>

                    <div class="col-8 podatak">
                        {{ apartman.status === '0' ? 'Aktivan' : 'Neaktivan' }}
                    </div>
                </div>

                <h3>Lista sadržaja:</h3>

                <div class="row" v-for="sadrzaj in sadrzaji">
                    {{ sadrzaj.naziv }}
                    <input type="image" title="Obriši" src="slike/delete.png" width="48" height="48" v-on:click="obrisiSadrzaj(sadrzaj)">
                </div>

                <div class="row">
                    <div class="col" align="center">
                        <p id="msg" ref="msg"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="text-align: right;">
                        <input type="image" title="Sačuvaj izmene" src="slike/save.png" width="48" height="48" v-on:click.prevent="validacija()">
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/vue.js"></script>
        <script src="./js/axios.js"></script>
        <script src="./js/izmena_apartmana.js"></script>
    </body>
</html>
