<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Izmena apartmana</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/main.css">
        <style>
            div.row {
                margin: 2em;
            }

            label   {
                text-align: center;
            }

            div.podatak {
                text-align: center;
            }

            .comments .comment-box {
                width: 100%;
                float: left;
                height: 100%;
                background-color: #FAFAFA;
                padding: 10px 10px 10px;
                margin-bottom: 15px;
                border-radius: 5px;
                border: 1px solid #ddd;
            }

            .comments .commenter-name {
                display: inline-block;
                position: relative;
                top: -40px;
                left: 10px;
                font-size: 16px;
                font-weight: bold;
            }

            .comments .comment-meta {
                font-size: 14px;
                color: #333;
                padding: 2px 5px 0px;
                line-height: 20px;
                float: right;
            }

            .comments p.comment-txt {
                font-size: 15px;
                border-bottom: 1px solid #ddd;
                padding: 0px 0px 15px;
            }
        </style>
    </head>

    <body>
        <div id="izmena-apartmana-app">
            <nav v-if="uloga() === 'DOMACIN'" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a class="naslov" href="domacin_page.html" class="navbar-brand">APARTMANI</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="domacin_page.html" class="nav-link">Početna</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.setItem('uloga', 'DOMACIN');window.location = 'izmena_profila.html';" class="nav-link">Moj profil</a></li>
                        <li class="nav-item"><a href="dodaj_apartman.html" class="nav-link">Dodaj apartman</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Pregled gostiju</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>

            <nav v-else-if="uloga() === 'ADMINISTRATOR'" class="navbar navbar-expand navbar-dark bg-dark fixed-top">
                <h1><a class="naslov" href="admin_page.html" class="navbar-brand">APARTMANI</a></h1>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="admin_page.html" class="nav-link">Početna</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.setItem('uloga', 'ADMINISTRATOR');window.location = 'izmena_profila.html';" class="nav-link">Moj profil</a></li>
                        <li class="nav-item"><a href="registration.html" class="nav-link">Dodaj domaćina</a></li>
                        <li class="nav-item"><a href="javascript:window.localStorage.removeItem('jwt'); window.location = 'login.html';" class="nav-link">Odjavi se</a></li>
                    </ul>
                </div>
            </nav>

            <br/><br/><br/><br/>

            <div class="container">

                <h3>Osnovne informacije</h3>

                <div class="row">
                    <div class="col-4">
                        <label>Tip:</label>
                    </div>
                    <div class="col-8 podatak">
                        <select v-model="apartman.tip">
                            <option value="0">Apartman</option>
                            <option value="1">Soba</option>
                        </select>
                    </div>
                </div>

                <div class="row" v-if="apartman.tip == '0'">
                    <div class="col-4">
                        <label>Broj soba:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.brojSoba" ref="broj_soba" min="1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Broj gostiju:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.brojGostiju" ref="broj_gostiju" min="1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Cena po noći:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.cenaPoNoci" ref="cena_po_noci" min="1" step="0.01" /> &euro;
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Vreme za prijavu:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.vremeZaPrijavu" ref="vreme_za_prijavu" min="0" max="23" /> h
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Vreme za odjavu:</label>
                    </div>
                    <div class="col-8 podatak">
                        <input type="number" v-model="apartman.vremeZaOdjavu" ref="vreme_za_odjavu" min="0" max="23" /> h
                    </div>
                </div>

                <div class="row" v-if="uloga() === 'ADMINISTRATOR'">
                    <div class="col-4">
                        <label>Status:</label>
                    </div>

                    <div class="col-8 podatak">
                        {{ apartman.status === '0' ? 'Aktivan' : 'Neaktivan' }}
                    </div>
                </div>

                <div class="row" v-if="uloga() === 'ADMINISTRATOR'">
                    <div class="col" style="text-align: right;">
                        <button style="margin-right: 250px; width: 150px;" v-if="apartman.status == 1" v-on:click="promeniStatus()">Aktiviraj</button>
                        <button style="margin-right: 250px; width: 150px;" v-else v-on:click="promeniStatus()">Deaktiviraj</button>
                    </div>
                </div>

                <h3>Galerija</h3>
                <div class="row">
                    <div class="col" v-for="slika in apartman.slike">
                        <div class="galerija">
                            <div>
                                <img :src="prikaziSliku(slika)" alt="Nema slike" onerror="this.onerror=null;this.src='slike/no_apartment.png';" v-on:click="otvoriSliku(slika)" width="600" height="400"/>
                            </div>
                            <div class="desc">
                                <input type="image" src="slike/delete.png" height="20" width="20" title="Obriši" v-on:click.prevent="obrisiSliku(slika)" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label>Dodaj sliku:</label>
                        <input type="file" ref="file" accept=".jpg,.png,.jpeg" v-on:change="preuzmiSliku()" />
                    </div>
                    <div class="col-8" style="text-align: right;">
                        <button v-on:click="dodajSliku()" style="margin-right: 200px; margin-top: 30px;">Dodaj</button>
                    </div>
                </div>

                <h3>Lista sadržaja</h3>

                <ul>
                    <div class="row" v-for="sadrzaj in sadrzaji">
                        <div class="col-4">
                            <li>{{ capitalize(sadrzaj.naziv) }}</li>
                        </div>
                        <div class="col-8 podatak">
                            <input type="image" title="Obriši" src="slike/delete.png" width="48" height="48" v-on:click="obrisiSadrzaj(sadrzaj)">
                        </div>
                    </div>
                </ul>

                <div class="row">
                    <div class="col-4">
                        <select v-model="selektovanSadrzaj">
                            <option v-for="sadrzaj in sviSadrzaji" :value="sadrzaj">
                                {{ capitalize(sadrzaj.naziv) }}
                            </option>
                        </select>
                    </div>
                    <div class="col-8 podatak">
                        <button v-on:click="dodajSadrzaj()">Dodaj</button>
                    </div>
                </div>

                <h3>Komentari gostiju</h3>
                <div class="comments">
                    <div class="row" v-for="komentar in komentari">
                        <div class="comment-box">
                            <span class="commenter-name">
                                {{ komentar.korisnickoImeGosta }}
                            </span>
                            <p class="comment-txt more">
                                {{ komentar.tekst }}
                            </p>
                            <div v-if="uloga() === 'DOMACIN'" class="comment-meta">
                                <button v-if="komentar.odobren" v-on:click="promeniStatusKomentara(komentar)">Skloni</button>
                                <button v-else v-on:click="promeniStatusKomentara(komentar)">Odobri</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" align="center">
                        <p id="msg" ref="msg"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8" style="text-align: center;">
                        <input type="image" title="Sačuvaj izmene" src="slike/save.png" width="48" height="48" v-on:click.prevent="validacija()">
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/vue.js"></script>
        <script src="./js/axios.js"></script>
        <script src="./js/izmena_apartmana.js"></script>
    </body>
</html>
